{% extends 'plantillas_base/base.html' %}
{% load staticfiles %}

{% block sidebar_content %}
  <li>
    <a href="{% url 'ingreso_econ_suc' %}">
      <i class="nc-icon nc-money-coins"></i>
      <p>Ingresos Económicos</p>
    </a>
  </li>
  <li>
    <a href="{% url 'desempenio_sucursal' %}">
      <i class="nc-icon nc-briefcase-24"></i>
      <p>Desempeño</p>
    </a>
  </li>
  <li>
    <a href="{% url 'ingreso_retiros_estudiantes_suc' %}">
        <i class="nc-icon nc-badge"></i>
        <p>In y Ret de Estudiantes</p>
    </a>
  </li>
  <li>
    <a href="{% url 'salida_demanda_carreras' %}">
        <i class="nc-icon nc-hat-3"></i>
        <p>Demanda de Carreras</p>
    </a>
  </li>
  <li>
     <a href="{% url 'salida_empleados_sucursal' %}">
         <i class="nc-icon nc-circle-10"></i>
         <p>Empleados por Suc</p>
     </a>
    </li>
{% endblock %}

{% block navbar_content %}
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href=#>{{ user.get_full_name }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
    </li>
  </ul>
{% endblock %}