{%extends 'plantillas_base/base_supervisor.html'%}

{%load staticfiles%}

{% block titulo %}
	Desempeño de Sucursal
{% endblock titulo %}

{% block head_content %}
	
{% endblock head_content %}

{% block main_content %}
	<div class="col-md-12">
		<form method="POST">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Reporte de Desempeño de Sucursal</h5>
				</div>
				<div class="card-body">
					{% csrf_token %}
					<div class="row justify-content-center">
						<div class="col-md-3">
							<h6 class="ml-5 pt-2">Fecha Inicio:</h6>
						</div>
						<div class="col-md-3">
							<input type="date" name="fecha_inicio" class="form-control" value="{{fechaInicio|date:"Y-m-d"}}">
						</div>
					</div>
					<div class="row mt-4 justify-content-center">
						<div class="col-md-3">
							<h6 class="ml-5 pt-2">Fecha Fin:</h6>
						</div>
						<div class="col-md-3">
							<input type="date" name="fecha_fin" class="form-control" value="{{ fechaHoy|date:"Y-m-d" }}">
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row mt-4">
						<div class="col-md-2 my-1 mx-1">
							<button type="button submit" class="btn btn-default" name="previa">Vista Previa</button>
						</div>
						<div class="col-md-2 my-1 mx-1">
							<button type="button submit" class="btn btn-default" name="descargar">Descargar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>	
{% endblock main_content %}
