{% extends "plantillas_base/base_reporte.html" %}

{% block titulo-reporte %}
	Reporte de Ingresos Económicos de Sucursales
{% endblock titulo-reporte %}

{% block subtitulo-reporte %}
	Generado el {{fechaHoy|date:"d/m/Y"}}, desde {{fechaInicio|date:"d/m/Y"}} hasta {{fechaFin|date:"d/m/Y"}}.
{% endblock subtitulo-reporte %}

{% block contenido-reporte %}
	<table class="table">
		<thead>
			<tr>
				<th>Sucursal</th>
				<th>Telefono</th>
				<th>Direccion</th>
				<th>Monto</th>
			</tr>
		</thead>
		<tbody>
			{% for sucursal in sucursales %}
				<tr>
					{% for elemento_sucursal in sucursal %}
						<td>{{elemento_sucursal}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
	</table>
{% endblock contenido-reporte %}