{%extends 'plantillas_base/base_profesor.html'%}

{%load staticfiles%}

{% block titulo %}
	Desempeño Estudiantil
{% endblock titulo %}

{% block head_content %}
	
{% endblock head_content %}

{% block main_content %}
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="title">Reporte de Desempeño Estudiantil</h5>
			</div>
                <form method="post">
					{% csrf_token %}
			<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-md-3">
							<h6 class="ml-5 pt-2">Grupo:</h6>
						</div>
						<div class="col-md-3">
							
							<select class="form-control" name="grupo">
                                <option value="0">Todos</option>
                                {% for grupo in grupos %}
								    <option value="{{ grupo.codigo }}">{{ grupo.horario.dias_asignados }} de {{ grupo.horario.hora_inicio }} a {{ grupo.horario.hora_fin }} ({{ grupo.codigo }})</option>
                                {% endfor %}
							</select>
						</div>
					</div>
                    <div class="row mt-4 justify-content-center">
						<div class="col-md-3">
							<h6 class="ml-5 pt-2">Desempeño:</h6>
						</div>
						<div class="col-md-3">

							<select class="form-control" name="desempenio">
                                <option value="1">Mejores</option>
								<option value="2">Peores</option>
							</select>
						</div>
					</div>
                    <div class="row mt-4 justify-content-center">
						<div class="col-md-3">
							<h6 class="ml-5 pt-2">Cantidad:</h6>
						</div>
						<div class="col-md-3">
							<input type="number" name="cantidad" class="form-control">
						</div>
					</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-md-2 my-1 mx-1">
						<button type="submit" class="btn btn-default" id="vistaPrevia" name="vistaPrevia">Vista Previa</button>
					</div>
					<div class="col-md-2 my-1 mx-1">
						<button type="submit" class="btn btn-default" id="descargar" name="descargar">Descargar</button>
					</div>
				</div>
			</div>
                </form>
		</div>
	</div>

    <script type="text/javascript">
		function descargarPDF(){

		}
	</script>
{% endblock main_content %}