{%extends 'plantillas_base/base_admin.html'%}

{%load staticfiles%}

{% block titulo %}
	Proceso de ETL
{% endblock titulo %}

{% block head_content %}
	
{% endblock head_content %}

{% block main_content %}
	<div class="col-md-12">
		{% if msj|length != 0 %}
		<div class="alert alert-{% if esDanger %}danger{% else %}primary{% endif %} alert-dismissible fade show">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <span>
            <b> Atención </b>{{msj}}</span>
        </div>
        {% endif %}
        <form method="POST">
        	{% csrf_token %}
			<div class="card">
				<div class="card-header">
					<h5 class="title">Realización de ETL</h5>
					<p class="text-justify mx-2"><strong>Atención</strong>, el proceso de actualización de datos presenta una gran carga tanto para el sistema gerencial como para el administrativo, se recomienda realizarlo en las horas cuyo uso sea menor.</p>
				</div>
				<div class="card-body">
					<p class="mx-5 text-justify">El <strong>ETL</strong> consiste en la extracción de datos del sistema transaccional e insertarlos en la base de datos gerencial, este proceso supone una gran carga para ambas bases de datos, se recomienda que se realice entre 11 pm y 5 am. Dependiendo de la cantidad de datos, <strong>podría llegar a tomar hasta 5 minutos</strong>.</p>
				</div>
				<div class="card-footer">
					<div class="row mt-4">
						<div class="col-md-2 my-1 mx-1">
							<button type="submit" class="btn btn-default">Realizar ETL</button>
						</div>
					</div>
				</div>
			</div>
		</form>	
	</div>	
{% endblock main_content %}
