{%extends 'plantillas_base/base_director.html'%}

{%load staticfiles%}

{% block titulo %}
	Desempeño Didáctico
{% endblock titulo %}

{% block head_content %}
	
{% endblock head_content %}

{% block main_content %}
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="title">Reporte de Desempeño Didáctico</h5>
			</div>
			<div class="card-body">
				<div class="row justify-content-center">
					<h6>Generado el {{fechaHoy}}</h6>
				</div>
				<div class="row justify-content-center">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Profesor</th>
									<th>Alumnos que atiende</th>
									<th>Calificación</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
								<tr>
									<td>lasdkjalskdjlakllaksd</td>
									<td>99</td>
									<td class="text-center">9.99</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-md-2 my-1 mx-1">
						<button class="btn btn-default">Descargar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main_content %}
