{% extends "plantillas_base/base_reporte.html" %}

{% block titulo-reporte %}
	Reporte de Moras Estudiantiles
{% endblock titulo-reporte %}

{% block subtitulo-reporte %}
	Generado el {{fechaHoy}}
{% endblock subtitulo-reporte %}

{% block contenido-reporte %}
    {% for grupo in grupos %}
	<h6>Grupo de: {{ grupo.horario.dias_asignados }} de {{ grupo.horario.hora_inicio }} a {{ grupo.horario.hora_fin }}</h6>
	<table class="table">
		<thead>
        <tr>
            <th>Nombre</th>
            <th>Encargado</th>
            <th>Tel Encargado</th>
            <th>Ult Pago</th>
            <th>Pagado hasta</th>
            <th>Semanas</th>
            <th>Monto</th>
        </tr>
        </thead>
		<tbody>
        {% for alumno in alumnos %}
            {% if alumno.grupo_id == grupo.codigo %}
                <tr>
                    <td>{{ alumno.nombre }} {{ alumno.apellido }}</td>
                    <td>{{ alumno.encargado.nombre }} {{ alumno.encargado.apellido }}</td>
                    <td>{{ alumno.tel }}</td>
                    <td>{{ alumno.ult_pago|date:"d/m/Y" }}</td>
                    <td>{{ alumno.pagado_hasta|date:"d/m/Y" }}</td>
                    <td>{{ alumno.semanas }}</td>
                    <td>{{ alumno.monto }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
	</table>
    {% endfor %}
{% endblock contenido-reporte %}