{% extends "plantillas_base/base_reporte.html" %}

{% block titulo-reporte %}
	Reporte de Inscripciones y Retiros de Estudiantes
{% endblock titulo-reporte %}

{% block subtitulo-reporte %}
	Generado el {{fechaHoy}}, desde 99/99/9999 hasta 99/99/9999.
{% endblock subtitulo-reporte %}

{% block contenido-reporte %}
	<h6><b>INSCRITOS: 9999999 EN TOTAL</b></h6>
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Fecha de Inscripcion</th>
				<th>Carrera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
	</table>
	<h6 style="padding-top: 1.5cm;"><b>RETIROS: 9999999 EN TOTAL</b></h6>
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Fecha de Retiro</th>
				<th>Carrera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
			<tr>
				<td>xxxxxxxxxxxxx</td>
				<td>99/99/9999</td>
				<td>xxxxxxxx</td>
			</tr>
		</tbody>
	</table>
{% endblock contenido-reporte %}