{%extends 'plantillas_base/base_profesor.html'%}

{%load staticfiles%}

{% block titulo %}
	Moras Estudiantiles
{% endblock titulo %}

{% block head_content %}

{% endblock head_content %}

{% block main_content %}
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="title">Reporte de Moras Estudiantiles</h5>
				<p>Generado el {{ fechaHoy }}</p>
			</div>
			<div class="card-body">
                {% for grupo in grupos %}
				<div class="row">
					<div class="col-md-12">
						<h6>Grupo de: {{ grupo.horario.dias_asignados }} de {{ grupo.horario.hora_inicio }} a {{ grupo.horario.hora_fin }} </h6>
					</div>
				</div>
				<div class="row">
					<div class="table-responsive col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Encargado</th>
                                    <th>Tel Encargado</th>
                                    <th>Ult Pago</th>
                                    <th>Pagado hasta</th>
                                    <th>Semanas</th>
									<th>Monto</th>
								</tr>
							</thead>
							<tbody>
                            {% for alumno in alumnos %}
                                    {% if alumno.grupo_id == grupo.codigo %}
								<tr>
									<td>{{ alumno.nombre }} {{ alumno.apellido }}</td>
									<td>{{ alumno.encargado.nombre }} {{ alumno.encargado.apellido }}</td>
                                    <td>{{ alumno.tel }}</td>
                                    <td>{{ alumno.ult_pago|date:"d/m/Y" }}</td>
                                    <td>{{ alumno.pagado_hasta|date:"d/m/Y" }}</td>
                                    <td>{{ alumno.semanas }}</td>
									<td>{{ alumno.monto }}</td>
								</tr>
								{% endif %}
                            {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
                {% endfor %}
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-md-2 my-1 mx-1">
						<a href="{% url 'moras_estudiantiles' %}" class="btn btn-default">Regresar</a>
					</div>
					<div class="col-md-2 my-1 mx-1">
						<button onclick="descargar()" class="btn btn-default">Descargar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script type="text/javascript">
		function descargar(){
				variable = "{% url 'pdf_moras_estudiantiles' grupo cantidad %}";
				window.open(variable, '_blank');
		}
	</script>
{% endblock main_content %}