{%extends 'plantillas_base/base_director.html'%}

{%load staticfiles%}

{% block titulo %}
	Ingresos y Retiros de Estudiantes
{% endblock titulo %}

{% block head_content %}
	
{% endblock head_content %}

{% block main_content %}
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 class="title">Reporte de Inscripciones y Retiro de Estudiantes</h5>
				<p>Generado el {{fechaHoy|date:"d/m/Y"}}, filtro desde {{fechaInicio|date:"d/m/Y"}} hasta {{fechaFin|date:"d/m/Y"}}</p>
			</div>
			<div class="card-body">
				{% if not detalles == None %}
					<div class="row">
						<div class="col-md-12">
							<h6>Inscritos: {{detalles.count}} en total.</h6>
						</div>
					</div>
					<div class="row">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Fecha de Inscripcion</th>
										<th>Carrera</th>
									</tr>
								</thead>
								<tbody>
									{% for detalle in detalles %}
										<tr>
											<td>{{detalle.alumno.nombre}} {{detalle.alumno.apellido}}</td>
											<td>{{detalle.fecha_detalle_e|date:"d/m/Y"}}</td>
											<td>{{detalle.alumno.expediente_set.first.carrera.nombre_carrera}}</td>
										</tr>
									{% endfor %}
									
								</tbody>
							</table>
						</div>
					</div>
				{% endif %}
				{% if not retiros == None %}
					<div class="row {% if not detalles == None %}mt-5{% endif %}">
						<div class="col-md-12">
							<h6>Retiros: {{retiros.count}} en total.</h6>
						</div>
					</div>
					<div class="row">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Fecha de Retiro</th>
										<th>Carrera</th>
									</tr>
								</thead>
								<tbody>
									{% for retiro in retiros %}
										<tr>
											<td>{{retiro.alumno.nombre}} {{retiro.alumno.apellido}}</td>
											<td>{{retiro.fecha_detalle_e|date:"d/m/Y"}}</td>
											<td>{{retiro.alumno.expediente_set.first.carrera.nombre_carrera}}</td>
										</tr>
										
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-md-2 my-1 mx-1">
						<a class="btn btn-default" href="{% url 'ingreso_retiros_estudiantes' %}">Regresar</a>
					</div>
					<div class="col-md-2 my-1 mx-1">
						<button onclick="descargar()" class="btn btn-default">Descargar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function descargar(){
				variable = "{% url 'pdf_ingreso_retiros_estudiantes' sucursal.codigo_sucursal fechaInicio|date:"Y-m-d" fechaFin|date:"Y-m-d" tipo %}";
				window.open(variable, '_blank');
		}
	</script>
{% endblock main_content %}